# Implement your uninstall deployment tasks here
# -------------------------------------------------
- name: uninstall gitops operator
  include_role:
    name: roles/install_operator
  vars:
    operator_subscription_name: "openshift-gitops-operator"

- name: uninstall pipelines operator
  include_role:
    name: roles/install_operator
  vars:
    operator_subscription_name: "openshift-pipelines-operator"
  
# Leave these as the last tasks in the playbook
- name: uninstall tasks complete
  debug:
    msg: "Uninstall tasks completed successfully."
  when:
    - not silent|bool

