# Implement your uninstall deployment tasks here
# -------------------------------------------------

- name: remove application
  k8s:
    state: absent
    api_version: quay.redhat.com/v1
    kind: QuayRegistry
    name: "{{ registry_name }}"
    namespace: "{{ app_namespace }}"

- name: uninstall quay operator
  include_role:
    name: roles/install_operator
  vars:
    operator_subscription_name: "quay-operator"
    
- name: uninstall quay bridge operator
  include_role:
    name: roles/install_operator
  vars:
    operator_subscription_name: "quay-bridge-operator"
    
- name: uninstall quay security operator
  include_role:
    name: roles/install_operator
  vars:
    operator_subscription_name: "container-security-operator"
    
- name: remove app namespace
  k8s:
    state: absent
    kind: Namespace
    name: "{{ app_namespace }}"
  ignore_errors: true

# Leave these as the last tasks in the playbook
- name: uninstall tasks complete
  debug:
    msg: "Uninstall tasks completed successfully."
  when:
    - not silent|bool

