- name: Uninstall all Software Factory services
  hosts: localhost
  vars:
    # set the following to control the install/uninstall process
    silent: false
    become_override: false
    ACTION: "UNINSTALL" # INSTALL, UNINSTALL, UPDATE

  roles:
    - role: ../roles/developerhub_basics
    #- role: ../roles/devspaces_basics
    #- role: ../roles/quay_basics
    #- role: ../roles/gitops_basics
