apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: {{ instance_name }}
  namespace: {{ app_namespace }}
spec:
  components:
    cheServer:
      debug: false
      logLevel: INFO

    dashboard:
      headerMessage:
        show: true
        text: {{ dashboard_description }}
    
    devWorkspace: {}

    devfileRegistry: {}
    
    database:
      credentialsSecretName: postgres-credentials
      externalDb: false
      postgresDb: dbche
      postgresHostName: postgres
      postgresPort: '5432'
      pvc:
        claimSize: 1Gi
    metrics:
      enable: true
  
  containerRegistry: {}
  
  devEnvironments:
    startTimeoutSeconds: 300
    secondsOfRunBeforeIdling: -1
    maxNumberOfWorkspacesPerUser: {{ workspaces_per_user }}
    maxNumberOfRunningWorkspacesPerUser: {{ running_workspaces_per_user }}
    containerBuildConfiguration:
      openShiftSecurityContextConstraint: container-build
    disableContainerBuildCapabilities: true
    defaultEditor: che-incubator/che-code/latest
    defaultComponents:
      - container:
          sourceMapping: /projects
          image: {{ default_workspace_container_image }}
          cpuRequest: {{ cpu_requested }}
          memoryRequest: {{ memory_requested }}
          cpuLimit: {{ cpu_limit }} 
          memoryLimit: {{ memory_limit }}
        name: universal-developer-image
    defaultNamespace:
      autoProvision: true
      template: <username>-devspaces
    secondsOfInactivityBeforeIdling: 1800
    storage:
      pvcStrategy: per-user
  
  #gitServices:
  #  github:
  #    - secretName: "github-oauth-config"
  
  networking: {}